{% extends 'admin/includes/admin_header.html' %}
{% block body %}


        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb table-bg text-white">
            <li class="breadcrumb-item active"> عام </li>
          </ol>

<div class="section">
  <div class="card-header table-bg text-right">
    <i class="fas fa-table"></i>
    معلومات الحساب
  </div>

  <div class="row">
    <div class="col-xl-12">


      <table class="info_table mb-3 " dir="rtl">
        <thead>
          <tr>
            <th title="Information"> المعلومات </th>
            <th title="Details"> التفاصيل </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong> الاسم بالكامل </strong></td>
            {% if userInfo[1] != None %}
            <td> {{userInfo[1]}} </td>

            {% else %}
            <td> فارغ </td>
            {% endif %}
          </tr>
          <tr>
            <td><strong> الاسم المستخدم </strong></td>
            {% if userInfo[3] != None %}
            <td> {{userInfo[3]}} </td>

            {% else %}
            <td> فارغ </td>
            {% endif %}
          </tr>
          <tr>
            <td><strong> صلاحيات المستخدم </strong></td>
            {% if userInfo[6] != None and userInfo[6] == 2 %}
            <td> تعديل </td>

            {% elif userInfo[6] != None and userInfo[6] == 4 %}
            <td> تعديل - حذف</td>
            {% elif userInfo[6] != None and userInfo[6] == 6 %}
            <td> تعديل - حذف - اضافه</td>
            {% else %}
            <td> فارغ </td>
            {% endif %}
          </tr>

          <tr>
            <td><strong> الرقم التعريفي </strong></td>
            {% if userInfo[5] != None %}
                <td> {{userInfo[5]}} </td>
            {% else %}
                <td> فارغ </td>
            {% endif %}
          </tr>

        </tbody>
      </table>





    </div>
  </div>
</div>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>


<script src="static/ajax/info.js"></script>
{% endblock %}
