{% extends 'admin/includes/admin_header.html' %}
{% block body %}



        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb table-bg text-white">
            <li class="breadcrumb-item">
              <a href="#"> لوحه التحكم </a>
            </li>
            <li class="breadcrumb-item active"> طرق الدفع </li>
          </ol>

<div class="section">
  <div class="tool-bar " >
      <div class="search-box">
          <span class="box-item">
              <form class="form-inline ">
              <div class="form-group mx-2">
                  <label for="inputPassword2" class="sr-only">Searh</label>
                  <input title="Search box" type="text" class="tips"  placeholder=" ابحث من هنا ">
              </div>
                  <button type="submit" class="btn btn-w "><i class="fas fa-search move-h" style="transform: rotate(3) !important;"></i></button>
                  <button data-modal="payment_methods" type="button" name="button" class="btn btn-w  adding trigger mr-4" ><i class="fas fa-plus-circle move-h" style="transform: rotate(3) !important;"></i></button>
              </form>
          </span>
      </div>

<div class="mod" data-page-name="payment_methods" id="page"  dir="rtl">
  <div class="add_items">
    <form class="" action="#" method="post" class="text-right">

      <p> <span title="payment methods"> طرق الدفع </span>
          <span title="monetary" style="float:none;text-align:left;margin-right:10px;"> نقدي </span> <input type="radio" name="payment" value="monetary" style="float:none;text-align:left;vertical-align: middle;">
          <span title="Deferred" style="float:none;text-align:left;margin-right:10px;"> آجل </span> <input type="radio" name="payment" value="deferred" style="float:none;text-align:left;vertical-align: middle;">
      </p>
      <p> <span title="company name in Arabic"> اسم الشركه بالعربي </span>  <input type="text" name="ar_name" value="" placeholder=" اسم الشركه بالعربي "> </p>
      <p> <span title="company name in English"> اسم الشركه بالانجليزي </span>  <input type="text" name="en_name" value="" placeholder=" اسم الشركه بالانجليزي "> </p>
<div>
      <p class=""> <span> الخصم </span>
          <input type="radio" name="discount" value="percentage" style="float:none;text-align:right;vertical-align: middle;margin: 0px 10px 0px 5px;"> <span style="float:none;text-align:right;" title="percent"> نسبه مئويه </span>  <input style="width:50px;" type="text" name="percentage_input" value="" placeholder="100%" title="Percentage"> <small>%</small>
          <input type="radio" name="discount" value="static" style="float:none;text-align:right;vertical-align: middle;margin: 0px 10px 0px 5px;"> <span style="float:none;text-align:right;" title="static cost"> رقم ثابت </span>   <input style="width:50px;" type="text" name="static_input" value="" placeholder="100$" title="static number"> <small>$</small>
      </p>
</div>

<button type="button" data-action="" id="reload_page" title="Reload page" class="btn btn-f tips ml-2" name="save" value=" حفظ " name="button"><i class="fas fa-redo-alt"></i></button>
<button type="button" data-action="add" id="save_btn" title="Save" class="btn btn-f tips" name="save" value=" حفظ " name="button"> حفظ </button>
    </form>
  </div>


</div>


<div id="search_result" >
      <table id="search_tables" class="dr_table mb-3 " dir="rtl" >
        <thead>
        <tr>
          <th>#</th>
          <th title="Service ID">  كود الخدمه  </th>
          <th title="Service name in English">  اسم الخدمه بالعربي </th>
          <th title="Service name in Arabic">  اسم الخدمه بالانجليزيه  </th>
          <th title="clinic">  العيادة  </th>
          <th title="Service costing">  مبلغ الخدمه </th>
          <th title="Edit"> تعديل </th>
          <th title="Delete"> حذف </th>
        </tr>
        </thead>
        <tbody id="search_table">
                <!-- data -->
        </tbody>
      </table>
  </div>


</div>

  <div class="row">
    <div class="col-xl-12" >

     اسم الشركه بالعربي


      <table class="dr_table mb-3 " dir="rtl" >
        <thead>
          <tr>
            <th>#</th>
            <th title="company name in Arabic"> اسم الشركه بالعربي </th>
            <th title="company name in English"> اسم الشركه بالانجليزي </th>
            <th title="payment methods">  طرق الدفع </th>
            <th title="cost"> الخصم </th>
            <th title="Edit"> تعديل </th>
            <th title="Delete"> حذف </th>
          </tr>
        </thead>
        <tbody>
        {% for payment in payment_data %}

          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ payment[2] }}</td>
            <td>{{ payment[3] }}</td>
                    {% if payment[1] == 'monetary' %}

                    <td> نقدي </td>

                      {% elif payment[1] == 'deferred' %}

                      <td> آجل </td>

                      {% else %}

                      <td> خطأ </td>

                    {% endif %}



                    {% if payment[4] == 'percentage' %}

                  <td>{{ payment[5] }}<strong>%</strong></td>

                      {% elif payment[4] == 'static' %}

                    <td>{{ payment[5] }}<strong>$</strong></td>

                      {% else %}

                      <td> خطأ </td>

                    {% endif %}

                  <td title="Edit" ><a data-edit_id="{{payment[0] }}"  href="#" class="far fa-edit move-rotate edit"></a></td>
                  <td title="Delete" ><a data-delete_id="{{payment[0] }}" href="#" class="fas fa-trash move-rotate delete"></a></td>

          </tr>

          {% endfor %}
        </tbody>
      </table>

      {% if payment_data | length == 0 %}

      <p class="text-center bg-danger p-2"> لاتوجد عيادات  </p>
      {% endif %}



      {% if paginate['btn_num'] | length > 1 or paginate['show_btn'] %}

        <div class="pagenation text-center mt-3">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/payment_methods/{{ paginate['next'] }}" class="btn btn-p">Next</a>
                    {% for btn in paginate['btn_num'] | reverse %}
                        <a href="/payment_methods/{{ btn }}" class="btn btn-p">{{ btn }}</a>
                    {% endfor %}
                <a href="/payment_methods/{{ paginate['back'] }}" class="btn btn-p">Back</a>
            </div>
          </div>

        {% endif %}


    </div>
  </div>
</div>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

{% endblock %}
{% block js %}
<script src="/static/ajax/payment_methods.js"></script>
{% endblock %}
